.teacherRoom {
  display: flex;
  flex-direction: column;
  background: #252525;
  height: 100%;
}

.audio {
  display: none;
}

.group {
  flex: 1 1 auto;
}

.bottom {
  flex: 0 0 var(--bottom-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
